body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h2 {
    margin: 0px;
}

.game-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 740px;
    width: 300px;
    margin: 15px;
}

#player-pick {
    margin-top: 8px;
}

.score-board {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 120px;
    height: 740px;
    margin: 0px;

}

.random-color-square {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
    transition: background-color 0.15s ease-in-out;
}

/* .color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */

#color-picker {
    /* height: 150px;
    width: 150px; */
    /* margin: 20px auto; */
    margin-bottom: 10px;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#reset-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #9b9b9b;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #45a049;
}

#reset-btn:hover {
    background-color: #9b9b9bc2;
}

#submit-btn:active {
    cursor: pointer;
    background-color: #4db352;
    transition: 0.05s;
  }

#reset-btn:active {
    cursor: pointer;
    background-color: #5f5f5f;
    transition: 0.05s;
  }

#score {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ebbb64;
    border-radius: 5px;
    display: inline-block;
    height: 60px;
    line-height: 30px;
    width: 82px;
    color: #362b1a;
    font-weight: bold;
}

.score-list-container {
    margin-top: 20px;
    /* text-align: left; */
    /* min-height: 150px; */

}

#recent-scores {
    list-style-type: none;
    padding: 0;
    min-height: 150px;
    padding: 5px 10px;
}

#recent-scores li {
    padding: 5px 10px;
    font-size: 16px;
}

#game-over-message {
    position:relative;
    margin: 0px;
    margin-bottom: 3px;
    font-size: 20px;
    color: gold;
    font-weight: bold;
    min-height: 46px;

}

#result {
    position:relative;
    margin: 0px;
    min-height: 30px;
}

/* Media Query for Mobile Screens */
@media (max-width: 600px) {
    .game-container {
        width: 90%;
        padding: 10px;
    }

    .random-color-square, #color-picker {
        width: 120px;
        height: 120px;
    }

    #submit-btn, #reset-btn {
        padding: 8px 16px;
        font-size: 14px;
        margin-bottom: auto;
    }

    #score {
        font-size: 14px;
    }
}

.current-color-square {
    width: 150px;
    height: 150px;
    margin: 0px;
    border: 1px solid #000;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
}
